APP_NAME=LALI Minecraft Service
APP_VERSION=0.1.0
ENVIRONMENT=development

MINECRAFT_API_HOST=0.0.0.0
MINECRAFT_API_PORT=8001

MINECRAFT_RCON_HOST=minecraft
MINECRAFT_RCON_PORT=25575
MINECRAFT_RCON_PASSWORD=CHANGE_ME

MINECRAFT_RCON_TIMEOUT=10